<% const d = new Date(); let year = d.getFullYear() %>
<footer>
    <a href="/inv/crash" title="Trigger 500 error (for testing)">⚠️ Trigger 500 Error</a>
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
</footer>

